# Dependencies
node_modules/
__pycache__/

# Environment variables
.env

# Dataset files
data/*.csv

# Trained models
models/*.pkl

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Local Netlify folder
.netlify
